attrs
certifi
cffi
cryptography
fernet
h11
idna
outcome
pyaes
pycparser
PySocks
selenium
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
urllib3
wsproto
uvicorn
fastapi
numpy
jupyterlab
tensorflow
scikit-learn
batch-face
mediapipe
tf-keras
seaborn
tqdm
passlib
sqlalchemy
python-dotenv
psycopg2
jwt
bcrypt
