.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root{
  --main_color: #EEFFFA;
  --font_color: #000000;
  --footer_color: #7AB296;
}

.navbar {
  background-color: var(--main_color);
  color: var(--font_color);
  margin: 0;
  padding: 10px 7%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.link{
  color: var(--font_color);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
