:root{
    --main_color: #EEFFFA;
    --font_color: #000000;
    --devide_line_color: #CEEBC8;
    --element_color: #E5F1F0;
    --footer_color: #7AB296;
    --button_hover_color: #5A8A7F;
    --half_circle_size: 300px;
    --half_circle_size_2: 400px;
  }


.hero{
    background-color: var(--main_color);
    display: flex;
    height: 100%;
}

.hero h1{
    width: 60%;
    margin:10% 0 10% 20%;
}

.left_side{
    width: 50%;
    display: flex;
    flex-direction: column;
}

  .hero_check_list{
    width: 60%;
    margin-left: 30%;
  }

    .hero_elem{
        display: flex;
        align-items: center;
    }

    .hero_elem img{
        height: 40px;
        width: 40px;
        margin-right: 5%;
    }

  .hero_photo_container{
    width: 50%;
    overflow: hidden;
  }

    .hero_photo{
        width: 100%;
        border-radius: 700px 0 0 700px;
        margin-top: 0;
    }

    @media only screen and (max-width: 1920px){
      .quarter_circle{
        width: var(--half_circle_size);
        height: var(--half_circle_size);
        background-color: var(--footer_color);
        border: none;
        border-radius: 0 300px 0 0;
        margin: calc(40% - var(--half_circle_size)) 0 0 0;
      }
    }

  @media only screen and (min-width: 1920px){
    .quarter_circle{
      width: var(--half_circle_size_2);
      height: var(--half_circle_size_2);
      background-color: var(--devide_line_color);
      border: none;
      border-radius: 0 400px 0 0;
      /*margin: calc(50% - var(--half_circle_size_2)) 0 0 0;*/
      position: absolute;
    }
  }