
:root{
    --element_color: #E5F1F0;
    --checked_color: #CEEBC8;
    --not_checked_color: #c8dfd8;
    --highlight_color: #EEFFFA;
    --button_color: #7AB296;
    --button_hover_color: #5A8A7F;
    --animation_timing: 0.5s ease-in-out;
}
.video_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% auto 0 auto;
}

  .video_container iframe {
    width: 50vw;
    height: 60vh;
    border: none;
    border-radius: 3px;
  }


.go_to_questions_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

  .go_to_questions_container h3{
    margin: 1% auto;
  }

    #go_to_questions {
      display: flex;
      justify-content: center;
      background-color: var(--button_color);
      border: none;
      border-radius: 100px;
      height: 70px;
      width: 70px;
      margin: auto 5%;
      color: #FFFFFF;
    }

      #go_to_questions img {
        width: 40px;
        height: 40px;
        margin: auto;
        transform: rotate(180deg);
      }

      #go_to_questions:hover {
        background-color: var(--button_hover_color);
      }


.question_container {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  background-color: var(--element_color);
  width: 45%;
  border-radius: 30px;  
  margin-top: 5%;
}

  .question_container h3{
    margin: 1% auto 0 auto;
  }

  .question_underline{
    width: 20%;
    transition: width var(--animation_timing);
    height: 5px;
    background-color: var(--button_hover_color);
    border: none;
    border-radius: 30px;
    margin-bottom: 0;
  }

    .question_container:hover > .question_underline{
      width: 35%;
    }

  .question {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 100%;
    padding-bottom: 2%;
    margin: 0;
  }

    .single_choice,
    .multiple_choice {
      display: flex;
      flex-direction: column;
    }

      .answer{
        display: flex;
        flex-direction: row;
        text-align: left;
        margin: 1% 5%;
      }

        .answer label {    
          padding: 1% 5%;
          border:none;
          background-color: var(--not_checked_color);
          border-radius: 30px;
          cursor: pointer;
        }

          .multiple_choice .answer label{
            border-radius: 5px;
          }

          .answer label:hover {
            background-color: var(--highlight_color);
          }

        .answer input[type="radio"] {
          display: none;
        }

          .answer input[type="radio"]:checked + label {
            background-color: var(--checked_color);
          }

        .answer input[type="checkbox"] {
          display: none;
        }

          .answer input[type="checkbox"]:checked + label {
            background-color: var(--checked_color);
          }

.buttons_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
}

.finish{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1% auto;
    width:10%;
}

  .finish .link{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

    .finish input[type="submit"] {
      background-color: var(--button_color);
      border: none;
      border-radius: 50px;
      height: 200%;
      width: 100%;
      color: #FFFFFF;
      font-size: 100%;
      padding: 10%;
    }

      .finish input[type="submit"]:hover,
      .stop_button:hover {
        background-color: var(--button_hover_color);
      }

      .buttons_container .finish{
        height: 100% !important;
        width: 25% !important;
      }

  .stop_button{
    background-color: var(--button_color);
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10%;
    width: 100%;
    font-size: 100%;
  }