:root{
    --main_color: #EEFFFA;
    --font_color: #000000;
    --devide_line_color: #CEEBC8;
    --element_color: #E5F1F0;
    --footer_color: #7AB296;
    --button_hover_color: #5A8A7F;
  }

.survey_info_main_cointainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    border-radius: 30px;
    background-color: var(--element_color);
    width: 60%;
}

h2{
    margin: 2% auto 0 auto;
}

.survey_info_button{
    width: 15%;
  }