:root{
    --main_color: #EEFFFA;
    --font_color: #000000;
    --devide_line_color: #CEEBC8;
    --element_color: #E5F1F0;
    --footer_color: #7AB296;
}

.survey_list{
    display: flex;
    flex-direction: column;
    margin: 0 auto 5% auto;
    width: 100%;
    background-color: var(--element_color);
    border-radius: 30px;
    padding-bottom: 1%;
}

.survey_headers{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}
  .deadline{
    text-align: left;
  }

.survey_cont_surv{
    display: grid;
    grid-template-columns: 2.8fr 1fr 1fr;
    width: 100%;
}

  .sur_name{
    text-align: left;
    margin-left: 5%;
  }
  .survey_cont_surv .link{
    width: 50%;
    height: 50%;
    border: none;
    background-color: var(--footer_color);
    color: #FFFFFF;
    border-radius: 30px;
    margin:auto;
  }