:root{
    --main_color: #EEFFFA;
    --font_color: #000000;
    --devide_line_color: #CEEBC8;
    --element_color: #E5F1F0;
    --footer_color: #7AB296;
    --button_hover_color: #5A8A7F;
    --edit_background_color: #5a8a7fd1;
    --animation_timing: 0.5s ease-in-out;
    --delete_color: #b01717;
    --delete_color_hover: #850f0f;
  }

.user_section{
    width: 40%;
    margin: 0 auto 5% auto;
    display: flex;
    flex-direction: column;
}


.above_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .edit_icon{
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        margin-top: 1%;
    }

    .edit_icon:hover{
        cursor: pointer;
        background-color: var(--element_color);
        border-radius: 30px;
    }

        .edit_icon_checkbox{
            display: none;
        }

        .edit_icon_checkbox:checked ~ .edit_container{
            margin-top: 0;
            opacity: 1;
        }

        .edit_icon_img{
            width: 30px;
            height: 30px;
        }

        .edit_icon_checkbox:checked ~ .edit_container_password{
            margin-top: 0;
            opacity: 1;
        }


.data_container{
    display: grid;
    grid-template-columns: 0.6fr 2.8fr;
    margin-top: 2%;
}

    .user_photo{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin-top: 1%;
        background-color: var(--element_color);
        padding: 1%;
    }

        .user_photo img{
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-top: 10px;
        }

        .change_pass_info{
            margin: 0 auto 4% auto;
        }

        .data{
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        .data label{
            margin-right: 2%;

        }
        .data p,
        .data input{
            margin-bottom: 2%;
        }

.edit_container,
.edit_container_password
{
    background-color: var(--edit_background_color);
    position: absolute;
    top: 30vh;
    left: 27.5vw;
    width: 45%;
    border-radius: 50px;
    margin-top: -40%;
    opacity: 0.6;
    transition: margin-top var(--animation_timing);
}

.edit_data{
    background-color: var(--element_color);
    padding: 1% 3% 2% 3%;
    border-radius: 30px;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 4% auto;;
}

    .edit_personal_data{
        margin: 0;
    }

    .edit_data input{
        border-radius: 10px;
        border: none;
        padding: 1% 2%;
    }
    .edit_data label{
        margin-bottom: 2%;
    }

    .edit_data input[type="submit"]{
        margin-top: 2%;
        width: 25%;
        align-self: center;
        background-color: var(--footer_color);
        color: #FFFFFF;
        border-radius: 30px;
    }
    .edit_data input[type="submit"]:hover{
        cursor: pointer;
        background-color: var(--button_hover_color);
    }

.delete_account{
    text-align: center;
}

    .delete_account input[type="submit"],
    .change_pass_label{
        background-color: var(--delete_color);
        color: #FFFFFF;
        border-radius: 30px;
        border: none;
        padding: 2% 4%;
        margin-top: 2%;
    }

    .change_pass_label{
        font-size: 90%;
    }

    .delete_account input[type="submit"]:hover,
    .change_pass_label:hover{
        cursor: pointer;
        background-color: var(--delete_color_hover);
}